DATABASE_URL="mysql://portfolio_user:your_password@127.0.0.1:3306/portfolio_db?allowPublicKeyRetrieval=true&ssl=false"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET="your_better_auth_secret"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="change_me"
ADMIN_NAME="Your First and Second Name"
CLOUDINARY_CLOUD_NAME="your cloudinary cloud name"
CLOUDINARY_API_KEY="your cloudinary cloud API KEY"
CLOUDINARY_API_SECRET="your cloudinary cloud API SECRET"
RESEND_API_KEY="your resend api key"
RESEND_FROM_EMAIL="Portfolio Contact <onboarding@resend.dev>"
CONTACT_TO_EMAIL="your@email.com"
NEXT_PUBLIC_TURNSTILE_SITE_KEY="your turnstile site key"
TURNSTILE_SECRET_KEY="your turnstile secret key"
