@use "../abstracts/variables";

.create-technos {
  padding-top: variables.$spacing-md;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;

  &__header {
    width: 100%;
  }

  &__page-infos {
    color: variables.$secondary-color-text;
  }

  &__title {
    font-size: 36px;
  }
}
