body {
  line-height: 1.5;
}

.title {
  font-family: var(--font-inter-tight);
  font-size: 42px;
  font-weight: 800;
  letter-spacing: -1.2px;
}

.title-public {
  font-family: var(--font-inter-tight);
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 45.6px;
}

.title-admin {
  font-family: var(--font-inter-tight);
  font-size: 36px;
  font-weight: 800;
}

.subtitle {
  font-family: var(--font-inter-tight);
  font-size: 36px;
}

.subsubtitle-admin {
  font-family: var(--font-inter-tight);
  font-size: 24px;
  font-weight: 800;
}

.subsubtitle {
  font-family: var(--font-inter-tight);
  font-size: 24px;
  font-weight: 800;
}

.paragraphe {
  font-family: var(--font-inter);
  font-size: 18px;
}

.paragraphe-public {
  font-family: var(--font-inter);
  font-size: 14px;
}

.description {
  font-family: var(--font-inter);
  font-size: 10px;
  font-weight: 700;
}

.buton-police--1 {
  font-family: var(--font-inter);
  font-size: 14px;
}

.link-description {
  font-family: var(--font-jetbrains-mono);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
}

.label {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 16px;
}

.list-admin-title {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -2px;
}

.list-admin-subtitle {
  font-family: var(--font-jetbrains-mono);
  font-size: 11px;
  line-height: 16.5px;
}
